<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Some nifty birds.</title>

    <!-- Loading Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">

    <!-- Loading Javascript Stuff -->
    <script type="text/javascript" src="javascript/clientJavascript.js"></script>
    <script type="text/javascript" src="angularjs/angular.js"></script>
    <script type="text/javascript" src="javascript/main.controller.js"></script>

</head>
<body ng-app="mainApp" ng-controller="mainCtrl">
    <div ng-include="'views/navbar.html'"></div>
    <hr>
    <div class="row text-center">
        <img src="assets/images/birds.jpg">
        <!--<h1>-->
            <!--<center>-->
                <!--This Bird,-->
            <!--</center>-->
        <!--</h1>-->
        <!--<figure>-->
            <!--<figcaption class="centerText"><center>only wants your soul!</figcaption>-->
        <!--</figure>-->
    </div>

</body>
</html>